:root {
	--accent: #ffa939;
	--accent-light: #ffc77e !important;
	--accent-alpha: #ffa9391c !important;
	--primary: rgb(46, 35, 19) !important;
	--primary-light: rgb(87, 78, 66) !important;
	--primary-alpha: rgba(46, 35, 19, 0.103) !important;
	--primary-alpha-50: rgba(46, 35, 19, 0.5) !important;
	--white: #f8f8f8 !important;
	--black: #202020 !important;
	--success: #00b10f !important;
	--warning: #db7500 !important;
	--danger: #ca0000 !important;
	--transparent: #00000000 !important;
	--rneqc-excellent-rne: rgb(200, 154, 0) !important;
	--rneqc-updated: rgb(0, 132, 255) !important;
	--rneqc-update-requested: rgb(161, 0, 108) !important;
	--rneqc-review-completed: rgb(1, 141, 75) !important;
	--rneqc-empty: rgb(116, 116, 116) !important;
	--offender: #f9cfc7 !important;
}

.text-accent {
	color: var(--accent) !important;
}
